:root {
    --main-color: #ff5555;
    --business-color: #2c2c2c;
}

.maindiv {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 58px;
}

.centerContent {
    display: flex;
    padding: 10px 20px 0;
    justify-content: center;
}

.content {
    display: flex;
    width: 60%;
    height: 700px;
    border-radius: 24px;
    box-shadow: 0px 0px 12px 0px #e1e1e1;
    font-size: 36px;
    color: var(--main-color);
}
.beerContent {
    display: flex;
    flex-direction: row;
}

.Buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    margin-top: 10px;
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    color: rgb(62, 62, 62);
    transition: 0.2s ease-in-out;
    font-size: 16px;
}

.btnCreate {
    margin-top: 10px;
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    color: rgb(62, 62, 62);
    transition: 0.2s ease-in-out;
    font-size: 16px;
}

.btn.active {
    background: #fe6637;
    color: #fff;
}
.btn:hover {
    background: #fe6637;
    color: #fff;
    opacity: 0.8;
}

.btnCreate:hover {
    background: #fe6637;
    color: #fff;
    opacity: 0.8;
}

.photoPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.installPhoto {
    width: 240px;
    height: 180px;
    border-radius: 6px;
    margin-top: 60px;
}
.fileUploader {
    margin-top: 10px;
    margin-left: 45px;
}

.beerParams {
    margin-top: 10px;
    margin-left: 60px;
}

.placeBeer {
    border: 1px solid var(--business-color);
    outline: none;
    border-radius: 5px;
    padding: 3px;
    width: 300px;
    height: 30px;
}

.saveBeer {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    background: var(--main-color);
    color: white;
    margin-top: 30px;
    margin-left: 60px;
}

.saveBeer:hover {
    opacity: 0.8;
}
